.nothing__main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bb83b6;
    height: 100%;
    color: $light-grey;
    width: 100%;
}